.tagline {
  /* width: 608.8525390625px;
  left: 135px;
  top: 211px;
  border-radius: nullpx; */
  font-weight: 700;
  font-size: 54px;
}

/* .fish {
  width: 200px;
  height: 300px;
} */

.phone {
  width: 500px;
  height: 487px;
}

@media only screen and (max-width: 1200px) {
  .button {
    max-width: 60%;
  }
}
