h1 {
  font-family: 'Poppins';
  font-weight: 700;
}

body {
  overflow-x: hidden !important;
}

.tagline {
  font-weight: 700;
  font-size: 54px;
}

.header {
  margin-bottom: 170px;
}

.phone {
  width: 500px;
  height: 487px;
  margin-left: -100px;
}

.fish {
  width: 300px;
  height: 287px;
}

.display-left {
  padding-left: 100px !important;
}

.display-right {
  background-image: url('../public/bg-right.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: center;
  padding-right: 100px;
}

.clr-primary {
  color: #d8191e;
}

.form {
  background-image: url('../public/image/full-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 70px;
}

.btn-orange {
  background-color: #f2572e !important;
}

/* Frame67 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.flex-hcenter {
  justify-content: center;
}

.component-1 {
  width: 93px;
  height: 85px;
  margin-bottom: 24px;
}

.txt-175 {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.38px;
  color: rgba(13, 13, 13, 1);
  word-wrap: break-word;
  margin-bottom: 24px;
}

.txt-172 {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.38px;
  color: rgba(13, 13, 13, 1);
  word-wrap: break-word;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.txt-747 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.29px;
  color: rgba(128, 125, 125, 1);
  text-align: center;
  word-wrap: break-word;
}

.metode-pengiriman {
  background-image: url('../public/bg-right.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  padding: 50px 100px !important;
}

.phone2 {
  width: 500px;
  height: 487px;
  margin-left: -150px;
}

.fish2 {
  width: 280px;
  height: 257px;
}

.status-pengiriman {
  background-image: url('../public/bg-left.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40%;
  padding: 50px 100px !important;
}

.phone3 {
  width: 500px;
  height: 487px;
}

.fish3 {
  margin-left: -150px;
  width: 280px;
  height: 257px;
}

.download-app {
  padding: 100px 150px !important;
  position: relative;
  background-image: url('../public/image/full-bg.png');
  margin-top: 150px !important;
}

.courrier {
  position: absolute;
  height: 78vh;
  width: auto;
  bottom: 0;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .header .display-left {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .button {
    max-width: 50%;
  }

  .display-left {
    padding: 0 !important;
  }

  .display-right {
    background-image: url('../public/bg-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: -200px !important;
  }

  .display-right {
    background-image: url('../public/bg-right.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position: center;
    padding-right: 100px;
    overflow-x: hidden;
  }

  .fish {
    margin-right: -200px;
    width: 30vh;
    height: auto;
  }

  .form {
    padding: 30px 10px;
  }

  .phone {
    width: 58vh;
    height: auto;
    margin-left: 50px;
    margin-right: -76px;
  }

  .fish2 {
    margin-right: -200px;
    width: 30vh;
    height: auto;
  }

  .phone2 {
    width: 50vh;
    height: auto;
    margin-left: 110px;
    margin-right: -76px;
    overflow-x: hidden !important;
  }

  .tagline {
    font-weight: 600;
    font-size: 50px;
  }

  .metode-pengiriman {
    background-image: unset;
    padding: 20px 10px !important;
    overflow-x: hidden;
  }

  .metode-pengiriman .dis-left {
    padding: 40px 15px;
    overflow-x: hidden;
  }

  .metode-pengiriman .dis-right {
    background-image: url('../public/bg-right.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    /* overflow-x: hidden; */
  }

  .fish3 {
    width: 30vh;
    height: auto;
    margin-left: 10px;
    margin-right: 60px;
    /* overflow-x: hidden !important; */
  }

  .phone3 {
    margin-right: -130px;
    width: 50vh;
    height: auto;
  }

  .status-pengiriman {
    background-image: unset;
    padding: 20px 10px !important;
  }

  .status-pengiriman .dis-left {
    background-image: url('../public/bg-left.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  .carousel {
    overflow-x: hidden;
  }

  .download-app {
    padding: 30px 20px 0px !important;
    position: relative;
    background-image: url('../public/image/full-bg.png');
    overflow-x: hidden;
  }

  .courrier {
    position: relative;
    height: 50vh;
    width: auto;
    overflow-x: hidden;
  }

  .footer {
    overflow-x: hidden !important;
  }

  .ovflw-hidden {
    overflow-x: hidden !important;
  }
}
